<div class="container-fluid">
    <div class="wall">
        <div class="row">
            <div class="col-md-12">
                <h2>{{genreTitle}}</h2>
                <h4>{{genreSubtitle}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 btn-group" data-toggle="buttons">
                <label class="btn btn-success">
      	          <input type="checkbox" autocomplete="off"> Фентъзи <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Драма <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Трилър <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Романи <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Художествена литература <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Исторически <span aria-hidden="true">&times;</span>
                </label>
                <label class="btn btn-success">
                  <input type="checkbox" autocomplete="off"> Научна литература <span aria-hidden="true">&times;</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="wall">
                <h2>{{priceTitle}}</h2>
                <h4>{{priceSubtitle}}</h4>
                <p-slider [(ngModel)]="rangeValues" [range]="true" (onSlideEnd)="handleChange($event)"></p-slider>
                <div class="row justify-content-between">
                    <div class="col-md-2 price-val">{{minPrice}} лв</div>
                    <div class="col-md-2 price-val">{{maxPrice}} лв</div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="wall">
                <h2>{{ratingTitle}}</h2>
                <h4>{{ratingSubtitle}}</h4>
                <p-rating [(ngModel)]="rating" (onRate)="handleRate($event)" (onCancel)="clearRate($event)"></p-rating>
            </div>
        </div>
    </div>


    <div class="wall">
        <div class="row">
            <div class="col-md-12">
                <h2>{{resultTitle}}</h2>
                <h4>{{resultSubtitle}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="books-container">
                <div class="col-md-2 float-left text-center book-container" *ngFor="let book of (books)">
                    <img class="book-image" src="{{book.bookImageUrl}}" alt="">
                    <h4 class="book-title">{{book.title}}</h4>
                    <div>{{book.price}} лв.</div>
                </div>
            </div>
        </div>

    </div>
</div>