.btn {
    display: inline-flex;
    margin: 5px;
    border-radius: 5px !important;
}

span {
    margin-left: 5px;
    margin-right: -5px;
}

.wall {
    background-color: #eceeef;
    padding: 2em 1.5em;
    margin-bottom: 1em;
}